.imgCard{
  width: 100%;
}
.border{
  box-shadow: 2px 2px lightgrey;
}
.row:hover, pointer:hover{
  cursor: pointer;
}
.fa-plus-circle{
  color: limegreen;
}

#plot{
  height: 150px;
}

.imgModal{
  width: 50px;
}

textarea{
  min-height: 100px;
}
